

.myContainer {
  background: #1d1d1d;
  border-radius: 10px;
}

.subtitle,
.blockquote {
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  color: #ff9a00;
}

.blockquote {
  padding-top: 2.5%;
  color: white;
}

.profile_pic {
  width: 180px;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 576px) {
  .myContainer {
    padding: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }

  .profile_pic {
    width: 130px;
  }

  .subtitle,
  .blockquote {
    margin-left: 3%;
    margin-right: 3%;
  }
  .subtitle {
    font-size: 24px;
  }
  .blockquote {
    font-size: 16px;
  }
}

/* CSS Form */

.btn-submit {
  font-family: "Montserrat", sans-serif;
}

#inputName {
  margin-top: 3.5%;
  font-family: "Montserrat", sans-serif;
}

#inputEmail,
#inputSubject,
#inputMessage {
  margin-top: 1.5%;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 576px) {
  #inputName,
  #inputEmail,
  #inputSubject,
  #inputMessage {
    margin-top: 4%;
  }
}
